

@media (max-width: 600px) {
    #search-input {
        width: calc(100% - 24px);
        margin-right: 0;
    }
    
    #search-button {
        width: 100%;
        margin-top: 10px;
        background-color: rgb(255, 255, 255);
    }
    
    .container {
        width: 90%;
        background-color: rgb(102, 194, 194);
    }
}
